@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  .dark *,
  .dark ::after,
  .dark ::before,
  .dark ::backdrop,
  .dark ::file-selector-button {
    border-color: var(--color-gray-700, currentcolor);
  }

  .dark a:not([class*="text-"]):not([class*="btn"]) {
    color: var(--color-blue-100);
  }

  img {
    max-width: 100%;
  }

  audio,
  video {
    width: 100%;
  }
}
